<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452468280576-5l5p25q0h9e0p69t4uslldsqa0bfu1q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452468280576-5l5p25q0h9e0p69t4uslldsqa0bfu1q6</string>
	<key>API_KEY</key>
	<string>AIzaSyDz0UIVWGUex6Rbm8vQ1bG85CPfAbwQoVw</string>
	<key>GCM_SENDER_ID</key>
	<string>452468280576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobilecomputing.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-7c44b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-7c44b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452468280576:ios:544e748a8fa846ba</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-7c44b.firebaseio.com</string>
</dict>
</plist>